{% extends "base/base_dashboard.html" %}
{% block wrapper%}
{% if detail_list %}
        <div class="row">
            <h3><u>Task Details</u></h3>
        </div><br><br>
        <div class="row">
            <div class="col-md-8">
                <tbody>
                  <table class="table table-sm">
                      <thead class="thead-dark">
                        <tr>
                          <th scope="col">Comments</th>
                          <th scope="col">Hr_spent</th>
                          <th scope="col">User</th>
                          <th scope="col">Milestone</th>
                        </tr>
                        {% for detail in detail_list %}
                        <tr>
                            <td>{{detail.comment}}</td>
                            <td>{{detail.hr_spent}}</td>
                            <td>{{detail.user}}</td>
                            <td>{{detail.get_current_state_display}}</td>
                        </tr>
                        {% endfor %}
                      </thead>
                  </table>
                </tbody>
            </div>
            <div class="col-md-4">
                <ul class="list-group">
                <ul>
                    <li class="list-group-item">Task name:- {{ticket.title}}</li>
                    <li class="list-group-item">Users:- {{ticket.assigned_list}}</li>
                </ul>
            </div>
        </div><br><br>
{% else %}
    <p>No tickets are available.</p>
{% endif %}
{% endblock %}