{% extends "base/base_dashboard.html" %}
{% block wrapper%}
<div class="container">
    <br>
    <div class="row">
        <div class="col-md-6">
            {% if ticket_list %}
                <table border="1">
                    <tr>
                        <td>Ticket</td>
                        <td>Process Name</td>
                        <td>Assigned to</td>
                        <td>Process Summary</td>
                        <td>Status</td>
                        <td>Due date</td>
                    </tr>
                    {% for tkt in ticket_list %}
                        <tr>
                            <td>{{ tkt.ticket_type }}</td>
                            <td>{{tkt.Title}}</td>
                            <td>{{tkt.assigned_to}}</td>
                            <td>{{tkt.description}}</td>
                            <td>{{tkt.status}}</td>
                            <td>{{tkt.due_date }}</td>
                        </tr>

                    {% endfor %}
                </table>
            {% else %}
                <p>No tickets are available.</p>
            {% endif %}
        </div>
        <div class="col-md-6">

        </div>
    </div>
</div>
{% endblock %}