{% extends "base/base_dashboard.html" %}
{% load crispy_forms_tags %}
    {% block wrapper%}
        {% if update_list %}
            <div class="row">
                <h3><u>Task List</u></h3>
            </div><br><br>
            <div class="row">
            <!-- Modal -->

                <div class="modal-body">
                    <form role='form' action="/ticket/create/" method="post">{% csrf_token %}
                        <!--<div>-->
                            <!--<input type="text" hidden="" value="{{model_obj_id}}" name="model_obj_id" id="model_obj_id">-->
                            <!--{{form | crispy}}-->
                        <!--</div>-->
                    </form>
                </div>

            </div>

            <!-- Modal End -->
        {% else %}
            <p>No updates are available.</p>
        {% endif %}
{% endblock %}
